<div class="container mt-5">

  <h1 class="display-4 text-center mb-4">Insira as seleções</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="d-flex gap-5 justify-content-center align-items-start">

      <!-- Seleção 1 -->
      <div class="text-center">
        <img *ngIf="team1Logo" [src]="team1Logo" width="150" class="mb-2">
        <input formControlName="team1" list="teams" class="form-control">
      </div>

      <div class="align-self-center display-6">vs</div>

      <!-- Seleção 2 -->
      <div class="text-center">
        <img *ngIf="team2Logo" [src]="team2Logo" width="150" class="mb-2">
        <input formControlName="team2" list="teams" class="form-control">
      </div>

    </div>

    <datalist id="teams">
      <option *ngFor="let t of teams" [value]="t.name"></option>
    </datalist>

    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Avançar
      </button>
    </div>

  </form>
</div>